/* ==========================================
   DARK MODE (Mặc định)
========================================== */

:root {
  --bg: #1f1f1f;
  --bg-secondary: #2a2a2a;

  --card: #2d2d2d;

  --header: #222;

  --text: #ffffff;
  --text-secondary: #bdbdbd;

  --border: #444;

  --primary: #ff5722;

  --shadow: rgba(0, 0, 0, 0.25);
}

/* ==========================================
   LIGHT MODE
========================================== */

body.light-mode {
  --bg: #f4f4f4;
  --bg-secondary: #ffffff;

  --card: #ffffff;

  --header: #ffffff;

  --text: #222222;
  --text-secondary: #666666;

  --border: #dddddd;

  --primary: #ff5722;

  --shadow: rgba(0, 0, 0, 0.12);
}
